<!-- Image and text -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="home" class="nav-item nav-link active">Home</a>
          </div>
          <div class="navbar-nav ms-auto">
              <a href="#" class="nav-item nav-link" routerLink="../login">Login</a>
          </div>
      </div>
  </div>
</nav>
          <!-- <a class="nav-link active" aria-current="page" href="../home">Home</a> -->
  
        <!-- <a class="nav-link" routerLink="../login">login</a></div> -->
      
 


<h1>This is the admin home page </h1>
<body><img class="center" src="https://www.shutterstock.com/image-vector/your-opinion-matters-symbol-survey-600w-1937069089.jpg">
  <p>

    Simple Footer Template
  Although a lot of websites use footer HTML, some do not use any at all meaning they have an infinite footer and sites like ESPN and Quartz are some of the few which use this footer design. Below are the footer HTML designs that are available for free, some of which come with five different layouts and designs.
  
  
  Simple Footer Template
  
  DEMODOWNLOAD
  
  Bootstrap Arabic Footer HTML
  This is the first footer HTML design on our list and it is fully responsive, easy to implement, and also 100% free for developers or website owners. These footers are created using Bootstrap 3 library, which gives it that nice and responsive look on all devices with high resolution.
  
  
  Bootstrap Arabic Footer HTML
  
  DEMODOWNLOAD
  Bootstrap 4 Footer HTML Templates : 5 Variations
  The footer is designed such that all 5 footer HTML designs come with their CSS files, this makes it very easy to implement and customize on your website. For those who might be scared of using these CSS files, it won’t affect your websites page style because it is self-contained.
  
  Black Bootstrap 4 Footer HTML Template
  
  DEMODOWNLOAD
  CSS Footer Design Templates
  These simple footer HTML templates come with navigation bar sections, social icons, logo area including fullscreen background image section and many more features. Each of the four templates has example sections included to guide users through the process of customization and so on.
  
  CSS Footer Design Templates
  
  DEMODOWNLOAD
  HTML Footer Layout Templates : 5 Variations
  This is another bootstrap footer HMTL design with four different options to choose from when considering using this on any project, business or personal website. It comes packed with four Bootstrap Footer Html templates that you can use for free on any website or project.
  
  HTML Footer Layout Templates :
  
  DEMODOWNLOAD
  Website Footer HTML by Scanfcode
  This footer HTML template is designed simple and efficient codes that will help your website’s footer look great. Scanfcode footer HTML template has just five sections which include the about us, categories, quick links copyright and social media links section that you can edit to suit your needs. It is easy to implement, simple and will add quality to your site.
  
  Website Footer HTML
  
  DEMO/DOWNLOAD
  Bootstrap Snippet For Footer HTML Design
  This is another footer HTML design by DKStudio; it is also simple and free for all. It is designed to give site visitors more information and links to other pages they might have missed on the site. Some of its features include about us, contacts (address, email, phone number and more), copyright, links to other pages on the site and bold social media links just underneath. Check this template out below.
  
  Bootstrap Snippet For Footer HTML Design
  
  DEMODOWNLOAD
  Twitter Bootstrap Footer Example Code
  Footer HTML with Bootstrap 4 is a sleek design; it is responsive and easy to use on websites.
  
  Twitter Bootstrap Footer Example Code
  
  DEMODOWNLOAD
  Site Footer Copyright Template
  Corruption within India’s Judicial System
   Whether it be bribery, getting a desired day in court, or any sort of unjust practice to sway the results of a trial, India’s judicial system remains as one riddled with corruption from many sides. Lawyers, administrative staff, judges, defendants, and more have used these practices to sway countless cases, and exist at all levels of the court system. While the Indian Supreme Court is generally reserved for the cases of highest importance or urgency, because of petitions and the implementation of bribery, the public or individuals outside the Supreme Court have been able to decide what cases go to the highest court of law in India. At least at the High Court level, one step below the Supreme Court, corrupt judges can be impeached under the Judges inquiry Act of 1968, but have to have support of at least 100 members of the Lok Sabha or 50 members of the Upper House of Parliament, or Rajya Sabha. 
  
  
  
  
  Staff shortages, case backlogs, different levels of corruption in judiciary hearings, and many other factors have led to the prominent nature of corruption within India’s courts. According to The Guardian from around 2016, India has 18 judges per million inhabitants, one of the lowest in the world, whereas many nations have well over 50 per million, and the US having double that at 107 per million. This may partially be due to the overpopulation and abundance of citizens in India, but still limits the amount of trials that can be heard significantly. Coinciding with this, 30 million outstanding cases were in the system in 2015, as BBC said, and that the Supreme Court itself only handles about 2,600 cases a year, meaning the cases will literally never be finished at this rate. 
  
  
  
  
  The worst part to this is the secretive, whispered insinuations of this occurring is almost the only punishment, as many of the justices who have been caught in a corrupt practice have been able to step down with little or no repercussions. One of the first instances of punishing corrupt judges was in May 2017 when Honorable Justice C. S. Karnan was found guilty of contempt of the court, and only punished because of making allegations against the court afterward. He was sentenced to 6 months in prison, and has happened again somewhat recently, but definitely is not common, where in lower courts corruption is more openly exposed. 
  
  
  There are few but abusable loopholes in the Indian Judicial system, one stating that you cannot register a case against a judge presumed of corruption without the permission of the CJI. Since it is tough for poorer people to do this, most of the time, it protects them and allows judges to abuse their power against lower classes in court. Markandey Katju, former judge of the Indian Supreme Court, while addressing lawyers of Punjab and Haryana claimed that 50%, half of higher court judges were corrupt, a shocking statistic if true. However, many experts feel that corruption bleeding into the higher courts such as the Indian Supreme Court is a direct result of the lower class, district or courts having corrupt practices undermines and allows for it to spread. The collusion on this lower level sets a precedent that if a judge moves up, they stick to what they have done in lower courts, continuing corrupt practices.
  
  
  
  
  Going into bribes specifically, many are done for all different reasons. First off, and most common, for a favorable judgment in the trial, to win a case and possibly a monetary settlement if in a case such as a civil case calling for payment. A second reason is to get a quicker judgment of the case, either to speed up the process or get their case through to a court, as there is a gigantic backlog of trials to be done. Another is to pay for bail, or to allow someone out who may not have been allowed out on bail. Manipulating a witness to say something you want them or do not want them to say is another, less directly paying to win the case, but to pay a witness, which may be easier to persuade. Finally, influencing the Public Prosecutor on the basis of the F.I.R. or State cases is common as well. 
  
  
  
  
  There are many different ways to fix these problems, all within the ability of the government, in order to keep order in India’s judicial system. Use of new technologies, offering other ways to dispute court cases and corrupt justices, and making the justices actually accountable for their actions by punishment, following a more stringent code of conduct, and other certain special measures like citizen judges will all aid in a better judicial system. While there is a lot of work needed to fix the Indian Judicial system, there is hope that it will soon become one of honor and not known specifically for corruption or lack of judges with way too many cases at hand. 
  
  </p>
  <p>

    Simple Footer Template
  Although a lot of websites use footer HTML, some do not use any at all meaning they have an infinite footer and sites like ESPN and Quartz are some of the few which use this footer design. Below are the footer HTML designs that are available for free, some of which come with five different layouts and designs.
  
  
  Simple Footer Template
  
  DEMODOWNLOAD
  
  Bootstrap Arabic Footer HTML
  This is the first footer HTML design on our list and it is fully responsive, easy to implement, and also 100% free for developers or website owners. These footers are created using Bootstrap 3 library, which gives it that nice and responsive look on all devices with high resolution.
  
  
  Bootstrap Arabic Footer HTML
  
  DEMODOWNLOAD
  Bootstrap 4 Footer HTML Templates : 5 Variations
  The footer is designed such that all 5 footer HTML designs come with their CSS files, this makes it very easy to implement and customize on your website. For those who might be scared of using these CSS files, it won’t affect your websites page style because it is self-contained.
  
  Black Bootstrap 4 Footer HTML Template
  
  DEMODOWNLOAD
  CSS Footer Design Templates
  These simple footer HTML templates come with navigation bar sections, social icons, logo area including fullscreen background image section and many more features. Each of the four templates has example sections included to guide users through the process of customization and so on.
  
  CSS Footer Design Templates
  
  DEMODOWNLOAD
  HTML Footer Layout Templates : 5 Variations
  This is another bootstrap footer HMTL design with four different options to choose from when considering using this on any project, business or personal website. It comes packed with four Bootstrap Footer Html templates that you can use for free on any website or project.
  
  HTML Footer Layout Templates :
  
  DEMODOWNLOAD
  Website Footer HTML by Scanfcode
  This footer HTML template is designed simple and efficient codes that will help your website’s footer look great. Scanfcode footer HTML template has just five sections which include the about us, categories, quick links copyright and social media links section that you can edit to suit your needs. It is easy to implement, simple and will add quality to your site.
  
  Website Footer HTML
  
  DEMO/DOWNLOAD
  Bootstrap Snippet For Footer HTML Design
  This is another footer HTML design by DKStudio; it is also simple and free for all. It is designed to give site visitors more information and links to other pages they might have missed on the site. Some of its features include about us, contacts (address, email, phone number and more), copyright, links to other pages on the site and bold social media links just underneath. Check this template out below.
  
  Bootstrap Snippet For Footer HTML Design
  
  DEMODOWNLOAD
  Twitter Bootstrap Footer Example Code
  Footer HTML with Bootstrap 4 is a sleek design; it is responsive and easy to use on websites.
  
  Twitter Bootstrap Footer Example Code
  
  DEMODOWNLOAD
  Site Footer Copyright Template
  Corruption within India’s Judicial System
   Whether it be bribery, getting a desired day in court, or any sort of unjust practice to sway the results of a trial, India’s judicial system remains as one riddled with corruption from many sides. Lawyers, administrative staff, judges, defendants, and more have used these practices to sway countless cases, and exist at all levels of the court system. While the Indian Supreme Court is generally reserved for the cases of highest importance or urgency, because of petitions and the implementation of bribery, the public or individuals outside the Supreme Court have been able to decide what cases go to the highest court of law in India. At least at the High Court level, one step below the Supreme Court, corrupt judges can be impeached under the Judges inquiry Act of 1968, but have to have support of at least 100 members of the Lok Sabha or 50 members of the Upper House of Parliament, or Rajya Sabha. 
  
  
  
  
  Staff shortages, case backlogs, different levels of corruption in judiciary hearings, and many other factors have led to the prominent nature of corruption within India’s courts. According to The Guardian from around 2016, India has 18 judges per million inhabitants, one of the lowest in the world, whereas many nations have well over 50 per million, and the US having double that at 107 per million. This may partially be due to the overpopulation and abundance of citizens in India, but still limits the amount of trials that can be heard significantly. Coinciding with this, 30 million outstanding cases were in the system in 2015, as BBC said, and that the Supreme Court itself only handles about 2,600 cases a year, meaning the cases will literally never be finished at this rate. 
  
  
  
  
  The worst part to this is the secretive, whispered insinuations of this occurring is almost the only punishment, as many of the justices who have been caught in a corrupt practice have been able to step down with little or no repercussions. One of the first instances of punishing corrupt judges was in May 2017 when Honorable Justice C. S. Karnan was found guilty of contempt of the court, and only punished because of making allegations against the court afterward. He was sentenced to 6 months in prison, and has happened again somewhat recently, but definitely is not common, where in lower courts corruption is more openly exposed. 
  
  
  There are few but abusable loopholes in the Indian Judicial system, one stating that you cannot register a case against a judge presumed of corruption without the permission of the CJI. Since it is tough for poorer people to do this, most of the time, it protects them and allows judges to abuse their power against lower classes in court. Markandey Katju, former judge of the Indian Supreme Court, while addressing lawyers of Punjab and Haryana claimed that 50%, half of higher court judges were corrupt, a shocking statistic if true. However, many experts feel that corruption bleeding into the higher courts such as the Indian Supreme Court is a direct result of the lower class, district or courts having corrupt practices undermines and allows for it to spread. The collusion on this lower level sets a precedent that if a judge moves up, they stick to what they have done in lower courts, continuing corrupt practices.
  
  
  
  
  Going into bribes specifically, many are done for all different reasons. First off, and most common, for a favorable judgment in the trial, to win a case and possibly a monetary settlement if in a case such as a civil case calling for payment. A second reason is to get a quicker judgment of the case, either to speed up the process or get their case through to a court, as there is a gigantic backlog of trials to be done. Another is to pay for bail, or to allow someone out who may not have been allowed out on bail. Manipulating a witness to say something you want them or do not want them to say is another, less directly paying to win the case, but to pay a witness, which may be easier to persuade. Finally, influencing the Public Prosecutor on the basis of the F.I.R. or State cases is common as well. 
  
  
  
  
  There are many different ways to fix these problems, all within the ability of the government, in order to keep order in India’s judicial system. Use of new technologies, offering other ways to dispute court cases and corrupt justices, and making the justices actually accountable for their actions by punishment, following a more stringent code of conduct, and other certain special measures like citizen judges will all aid in a better judicial system. While there is a lot of work needed to fix the Indian Judicial system, there is hope that it will soon become one of honor and not known specifically for corruption or lack of judges with way too many cases at hand. 
  
  </p>
<p>

    Simple Footer Template
  Although a lot of websites use footer HTML, some do not use any at all meaning they have an infinite footer and sites like ESPN and Quartz are some of the few which use this footer design. Below are the footer HTML designs that are available for free, some of which come with five different layouts and designs.
  
  
  Simple Footer Template
  
  DEMODOWNLOAD
  
  Bootstrap Arabic Footer HTML
  This is the first footer HTML design on our list and it is fully responsive, easy to implement, and also 100% free for developers or website owners. These footers are created using Bootstrap 3 library, which gives it that nice and responsive look on all devices with high resolution.
  
  
  Bootstrap Arabic Footer HTML
  
  DEMODOWNLOAD
  Bootstrap 4 Footer HTML Templates : 5 Variations
  The footer is designed such that all 5 footer HTML designs come with their CSS files, this makes it very easy to implement and customize on your website. For those who might be scared of using these CSS files, it won’t affect your websites page style because it is self-contained.
  
  Black Bootstrap 4 Footer HTML Template
  
  DEMODOWNLOAD
  CSS Footer Design Templates
  These simple footer HTML templates come with navigation bar sections, social icons, logo area including fullscreen background image section and many more features. Each of the four templates has example sections included to guide users through the process of customization and so on.
  
  CSS Footer Design Templates
  
  DEMODOWNLOAD
  HTML Footer Layout Templates : 5 Variations
  This is another bootstrap footer HMTL design with four different options to choose from when considering using this on any project, business or personal website. It comes packed with four Bootstrap Footer Html templates that you can use for free on any website or project.
  
  HTML Footer Layout Templates :
  
  DEMODOWNLOAD
  Website Footer HTML by Scanfcode
  This footer HTML template is designed simple and efficient codes that will help your website’s footer look great. Scanfcode footer HTML template has just five sections which include the about us, categories, quick links copyright and social media links section that you can edit to suit your needs. It is easy to implement, simple and will add quality to your site.
  
  Website Footer HTML
  
  DEMO/DOWNLOAD
  Bootstrap Snippet For Footer HTML Design
  This is another footer HTML design by DKStudio; it is also simple and free for all. It is designed to give site visitors more information and links to other pages they might have missed on the site. Some of its features include about us, contacts (address, email, phone number and more), copyright, links to other pages on the site and bold social media links just underneath. Check this template out below.
  
  Bootstrap Snippet For Footer HTML Design
  
  DEMODOWNLOAD
  Twitter Bootstrap Footer Example Code
  Footer HTML with Bootstrap 4 is a sleek design; it is responsive and easy to use on websites.
  
  Twitter Bootstrap Footer Example Code
  
  DEMODOWNLOAD
  Site Footer Copyright Template
  Corruption within India’s Judicial System
   Whether it be bribery, getting a desired day in court, or any sort of unjust practice to sway the results of a trial, India’s judicial system remains as one riddled with corruption from many sides. Lawyers, administrative staff, judges, defendants, and more have used these practices to sway countless cases, and exist at all levels of the court system. While the Indian Supreme Court is generally reserved for the cases of highest importance or urgency, because of petitions and the implementation of bribery, the public or individuals outside the Supreme Court have been able to decide what cases go to the highest court of law in India. At least at the High Court level, one step below the Supreme Court, corrupt judges can be impeached under the Judges inquiry Act of 1968, but have to have support of at least 100 members of the Lok Sabha or 50 members of the Upper House of Parliament, or Rajya Sabha. 
  
  
  
  
  Staff shortages, case backlogs, different levels of corruption in judiciary hearings, and many other factors have led to the prominent nature of corruption within India’s courts. According to The Guardian from around 2016, India has 18 judges per million inhabitants, one of the lowest in the world, whereas many nations have well over 50 per million, and the US having double that at 107 per million. This may partially be due to the overpopulation and abundance of citizens in India, but still limits the amount of trials that can be heard significantly. Coinciding with this, 30 million outstanding cases were in the system in 2015, as BBC said, and that the Supreme Court itself only handles about 2,600 cases a year, meaning the cases will literally never be finished at this rate. 
  
  
  
  
  The worst part to this is the secretive, whispered insinuations of this occurring is almost the only punishment, as many of the justices who have been caught in a corrupt practice have been able to step down with little or no repercussions. One of the first instances of punishing corrupt judges was in May 2017 when Honorable Justice C. S. Karnan was found guilty of contempt of the court, and only punished because of making allegations against the court afterward. He was sentenced to 6 months in prison, and has happened again somewhat recently, but definitely is not common, where in lower courts corruption is more openly exposed. 
  
  
  There are few but abusable loopholes in the Indian Judicial system, one stating that you cannot register a case against a judge presumed of corruption without the permission of the CJI. Since it is tough for poorer people to do this, most of the time, it protects them and allows judges to abuse their power against lower classes in court. Markandey Katju, former judge of the Indian Supreme Court, while addressing lawyers of Punjab and Haryana claimed that 50%, half of higher court judges were corrupt, a shocking statistic if true. However, many experts feel that corruption bleeding into the higher courts such as the Indian Supreme Court is a direct result of the lower class, district or courts having corrupt practices undermines and allows for it to spread. The collusion on this lower level sets a precedent that if a judge moves up, they stick to what they have done in lower courts, continuing corrupt practices.
  
  
  
  
  Going into bribes specifically, many are done for all different reasons. First off, and most common, for a favorable judgment in the trial, to win a case and possibly a monetary settlement if in a case such as a civil case calling for payment. A second reason is to get a quicker judgment of the case, either to speed up the process or get their case through to a court, as there is a gigantic backlog of trials to be done. Another is to pay for bail, or to allow someone out who may not have been allowed out on bail. Manipulating a witness to say something you want them or do not want them to say is another, less directly paying to win the case, but to pay a witness, which may be easier to persuade. Finally, influencing the Public Prosecutor on the basis of the F.I.R. or State cases is common as well. 
  
  
  
  
  There are many different ways to fix these problems, all within the ability of the government, in order to keep order in India’s judicial system. Use of new technologies, offering other ways to dispute court cases and corrupt justices, and making the justices actually accountable for their actions by punishment, following a more stringent code of conduct, and other certain special measures like citizen judges will all aid in a better judicial system. While there is a lot of work needed to fix the Indian Judicial system, there is hope that it will soon become one of honor and not known specifically for corruption or lack of judges with way too many cases at hand. 
  
  </p>
  <div class="abc"></div>
</body>
<div class="hi"><app-footer></app-footer></div>
  